<div class="row">
  <ng-container
    *ngFor="let machine of (machines$ | async)?.machines; let last = last"
  >
    <div [ngClass]="['card', machine.machine_state]">
      <mat-icon class="status">
        {{ machine.stateIcon }}
      </mat-icon>
      <mat-icon class="material-icons-outlined">
        {{ machine.sectionIcon }}
      </mat-icon>
      <p class="section-row">
        {{ machine.machine_section }}
      </p>
    </div>
    <div class="line" *ngIf="!last"></div>
  </ng-container>
</div>
