@mixin centered-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buhler-header {
  @include centered-row;
  padding: 15px 30px;
  background-color: lightgrey;
  justify-content: space-between;
  border-bottom: 5px solid #00a89c;
}

.horizontal-section {
  @include centered-row;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 0;
  margin-left: 50px;
  .mat-icon {
    margin-right: 3px;
    font-size: 35px;
    height: 35px;
    width: 35px;
  }
}

.machine-list {
  @include centered-row;
  background-color: lightgrey;
  .machine-tab {
    @include centered-row;
    justify-content: center;
    width: 130px;
    flex-direction: column;
    padding: 5px 10px 25px;
    p {
      margin: 0;
      font-size: 1.4rem;
      font-weight: 500;
    }
    .mat-icon {
      font-size: 30px;
      align-self: flex-end;
    }
  }
}

.alarm {
  background-color: #fe3636;
  color: white;
}

.warning {
  background-color: #ff9704;
  color: white;
}

.running mat-icon {
  color: #75b209;
}
