<div>navbar</div>
<mat-icon class="material-icons-outlined">account_circle</mat-icon>
<mat-icon> schedule </mat-icon>

<div>Machines</div>
<mat-icon> system_update_alt </mat-icon>
<mat-icon class="material-icons-outlined"> chrome_reader_mode </mat-icon>
<mat-icon class="material-icons-outlined"> call_to_action </mat-icon>
<mat-icon> grid_on </mat-icon>

<div>status</div>
<mat-icon> error_outline </mat-icon>
<mat-icon> warning_amber </mat-icon>
<mat-icon> settings_backup_restore </mat-icon>

<div>
  <img src="assets/svg/buhler-logo.svg" />
</div>
